button {
  background-color: transparent;
  color: lightblue;
  padding: 10px;
  border: 1px solid;
  border-color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-family: Inter;
}

button:hover {
  background-color: #3e3e3e;
  cursor: pointer;
}